<div class="btn-group">
	<button class={{cssClasses}}>{{copy}}</button>
	<button class={{dropDownCssClasses}} data-toggle="dropdown">
		<i class="icon-caret"></i>
	</button>
	<ul class="dropdown-menu">
		<li><a href="#base">Save and exit</a></li>
		<li><a href="#base">Save and submit</a></li>
		<li><a href="#base">Save as template</a></li>
	</ul>
</div>

{{utility-overlay deleteComponent="deleteComponent" editComponent="editComponent"}}