{{#each component in components}}
	{{component component.name
		id=component.id
		model=component
		deleteComponent="deleteComponent"
		editComponent="editComponent"}}
{{/each}}
{{utility-overlay deleteComponent="deleteComponent" editComponent="editComponent"}}