<div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<a class="navbar-brand" href="#">PF Page Builder</a>
	</div>
	<ul class="nav navbar-nav navbar-right">
		<li {{bind-attr class="isBuildState:hidden"}}>
			<select id="screen-size-select">
				<option value="default" selected>Default</option>
				<option value="768">768</option>
				<option value="801">801</option>
				<option value="1024">1024</option>
				<option value="1200">1200</option>
				<option value="1600">1600</option>
			</select>
		</li>
		{{#unless isBuildState}}
			<li>{{toggle-switch checked=isGridOn isSmall=true onText="Grid On" offText="Grid Off"}}</li>
		{{/unless}}
		<li>{{toggle-switch checked=isBuildState isSmall=true onText="Build" offText="Preview"}}</li>
    </ul>
</div><!-- /.container-fluid -->