<h4>Properties</h4>
<div class="sidepane">
	{{#if hasComponentToEdit}}
		{{#each property in componentToEdit.config}}
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label>{{property.name}}</label>
						{{#if property.isSelect}}
							<div>{{view "select" content=property.selectOptions value=property.value}}</div>
						{{else if property.isCheckBox}}
							<div>{{input type="checkbox" checked=property.value}}</div>
						{{else if property.isTextArea}}
							<div>{{textarea classNames="full-width" value=property.value rows="5"}}</div>
						{{else}}
							{{input classNames="form-control" value=property.value}}
						{{/if}}
						{{!-- TODO: accomodate configs that are booleans with a checkbox as well
						as configs that are lists with a text field separated by line returns --}}
					</div>
				</div>
			</div>
		{{/each}}
	{{/if}}
</div>