<h4>Components</h4>
<div class="sidepane">
	{{#each component in sortedComponents}}
		{{#draggable-item content=component}}
			<img {{bind-attr src=component.icon}} />
			<p>{{component.title}}</p>
    	{{/draggable-item}}
	{{/each}}
</div>