<button class="btn my-button" type="button">{{buttonText}}</button>

{{confirm-dialog targetElement=".my-button"
    title=title
    content=copy
    cancelText=cancel
    confirmText=confirm}}

{{utility-overlay deleteComponent="deleteComponent" editComponent="editComponent"}}