{{#detail-pane
	smallHeaderText=smallHeaderText 
	bigHeaderText=bigHeaderText
	footerLeftButtonText=footerLeftButtonText 
	footerRightButtonText=footerRightButtonText
	resizables=resizables}}
	
	{{draggable-dropzone
      model=model
    }}

    {{#detail-pane-footer}}
        <footer>
        	<div class="right-module-row right-module-center clearfix">
		        <div class="pull-left">
		            <button type="button" class="btn">{{footerLeftButtonText}}</button>
		        </div>
		        <div class="pull-right">
		            <button type="button" class="btn">{{footerRightButtonText}}</button>
		        </div>
		    </div>
		</footer>
    {{/detail-pane-footer}}
{{/detail-pane}}


{{utility-overlay deleteComponent="deleteComponent" editComponent="editComponent"}}