{{single-select 
	content=groupOptions
    prompt=prompt
    optionLabelPath="name"
    optionValuePath="id"
    selection=selection
	sortLabels=false}}

{{utility-overlay deleteComponent="deleteComponent" editComponent="editComponent"}}