<ul class={{cssClasses}}>
	{{#each component in components}}
		<li>
			{{component component.name
				id=component.id
				model=component
				deleteComponent="deleteComponent"
				editComponent="editComponent"}}
		</li>
	{{/each}}
</ul>

{{utility-overlay deleteComponent="deleteComponent" editComponent="editComponent"}}