<div>
	<button class="btn btn-primary btn-xs" {{action "editComponent"}}><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></button>
	<button class="btn btn-primary btn-xs" {{action "deleteComponent"}}><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></button>
</div>