<div id="embermain" class="ember-application">
    <div id="ember1968" class="ember-view">
        <div id="ember4422" class="ember-view application navigation ad-aware">
            <div class="pf-mask"></div>
            <div class="left-nav">
                <ul class="menu-list">
                    <li id="ember4547" class="ember-view home">
                        <a id="ember4564" class="ember-view clearfix" href="#/" data-tracking="Home" data-tracking-page-override="CarbonLeftNav">
                            <div class="menu-icon"></div>
                            <div class="menu-label">Home</div>
                            <div class="arrow-up"></div>
                        </a>
                    </li>
                    <li id="ember4571" class="ember-view dashboard">
                        <a id="ember4578" class="ember-view clearfix" href="#/PF/home" data-tracking="Dashboard" data-tracking-page-override="CarbonLeftNav">
                            <div class="menu-icon"></div>
                            <div class="menu-label">Dashboard</div>
                            <div class="arrow-up"></div>
                        </a>
                    </li>
                    <li id="ember4603" class="ember-view schedule">
                        <a id="ember4610" class="ember-view clearfix" href="#/PF/schedule" data-tracking="Schedule" data-tracking-page-override="CarbonLeftNav">
                            <div class="menu-icon"></div>
                            <div class="menu-label">Schedule</div>
                            <div class="arrow-up"></div>
                        </a>
                    </li>
                    <li id="ember4635" class="ember-view tasks">
                        <span class="badge">130</span>
                        <a id="ember4642" class="ember-view clearfix" href="#/PF/tasks" data-tracking="Tasks" data-tracking-page-override="CarbonLeftNav">
                            <div class="menu-icon"></div>
                            <div class="menu-label">Tasks</div>
                            <div class="arrow-up"></div>
                        </a>
                    </li>
                    <li id="ember4663" class="ember-view charts">
                        <span class="clearfix" data-ember-action="4669">
                            <div class="menu-icon"></div>
                            <div class="menu-label">Charts</div>
                        </span>
                    </li>
                    <li id="ember4673" class="ember-view messages">
                        <span class="badge">1</span>
                        <a id="ember4680" class="ember-view clearfix" href="#/PF/messaging" data-tracking="Messages" data-tracking-page-override="CarbonLeftNav">
                            <div class="menu-icon"></div>
                            <div class="menu-label">Messages</div>
                            <div class="arrow-up"></div>
                        </a>
                    </li>
                    <li id="ember4705" class="ember-view reports">
                        <a id="ember4712" class="ember-view clearfix" href="#/PF/practice/reports" data-tracking="Reports" data-tracking-page-override="CarbonLeftNav">
                            <div class="menu-icon"></div>
                            <div class="menu-label">Reports</div>
                            <div class="arrow-up"></div>
                        </a>
                    </li>
                    <li id="ember4744" class="ember-view ring-a-doc">
                        <span class="clearfix" data-ember-action="4750">
                            <div class="menu-icon"></div>
                            <div class="menu-label">Ringadoc</div>
                        </span>
                    </li>
                    <li id="ember4754" class="ember-view erx no-icon">
                        <span class="clearfix" data-ember-action="4760">
                            <div class="menu-label">eRx</div>
                        </span>
                    </li>
                    <li id="ember4764" class="ember-view labs-imaging no-icon">
                        <span class="clearfix" data-ember-action="4770">
                            <div class="menu-label">Labs/imaging</div>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="navigation-header">
                <div class="pull-left">
                    <button class="menu-toggle nav-button" data-ember-action="4775">
                        <div class="icon pull-left">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </div>
                        <div class="pull-right field-label">
                            Menu
                        </div>
                    </button>
                </div>
                <div class="provider-facility-list pull-right">
                    <div class="btn-group help-toggle help-menu">
                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                            <div class="icon-nav-help"></div>
                            <span>Help</span>
                            <div class="icon-caret"></div>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="help-separator">Self help</li>
                            <li><a href="http://knowledgebase.practicefusion.com/" target="_blank">Knowledge base</a></li>
                            <li><a href="http://learn.practicefusion.com/" target="_blank">Tutorials</a></li>
                            <li><a href="http://www.practicefusion.com/meaningful-use/" target="_blank">Meaningful Use center</a></li>
                            <li><a data-ember-action="4781">About</a></li>
                            <li class="help-separator">PF support</li>
                            <li><a href="http://www.practicefusion.com/live-chat/" target="_blank">Live chat</a></li>
                            <li><a href="http://www.practicefusion.com/pages/support-contact-us.html" target="_blank">Help ticket</a></li>
                            <li class="help-separator">Feature request</li>
                            <li><a target="_blank" href="//www.practicefusion.com/ideas">Share idea</a></li>
                            <li class="help-separator">Legal</li>
                            <li><a href="http://www.practicefusion.com/pages/privacy-policy.html" target="_blank">Privacy policy</a></li>
                            <li><a href="http://www.practicefusion.com/pages/terms-of-use.html" target="_blank">Terms of use</a></li>
                            <li><a href="http://www.practicefusion.com/pages/user-agreement.html" target="_blank">Healthcare provider user agreement</a></li>
                        </ul>
                    </div>
                    <div class="provider-name">Francis Toan |</div>
                    <div id="ember5771" class="ember-view btn-group normal-whitespace help-toggle" data-tracking-category="FacilitySelection" data-tracking-page="CarbonTopNav">
                        <button data-toggle="dropdown" class="btn dropdown-toggle">
                        Francis Toan Practice
                        <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li id="ember5785" class="ember-view"><a href="javascript:void(0);">Facility 123QA</a></li>
                            <li id="ember5788" class="ember-view active"><a href="javascript:void(0);">Francis Toan Practice</a></li>
                            <li id="ember5791" class="ember-view"><a href="javascript:void(0);">Manhattan Project</a></li>
                        </ul>
                    </div>
                    <button class="nav-button settings" data-ember-action="4777">
                    <i class="icon-settings"></i><span>Settings</span></button>
                    <button class="nav-button" data-ember-action="4778">
                    <i class="icon-logout"></i><span>Log out</span></button>
                    <button class="nav-button" data-ember-action="4779">
                    <i class="icon-lock"></i><span>Lock</span></button>
                </div>
            </div>
            <div class="pf outlet">
                <div class="pd-modal">
                    <div class="left-nav">
                        <ul id="ember4791" class="ember-view menu-list">
                            <li id="ember5721" class="ember-view">
                                <a id="ember5728" class="ember-view clearfix" href="#/PF/charts/list" data-tracking="Patient lists">
                                    <div class="menu-icon"></div>
                                    <div class="menu-label">Patient lists</div>
                                    <div class="arrow-up"></div>
                                </a>
                            </li>
                            <li id="ember5735" class="ember-view">
                                <a id="ember5742" class="ember-view clearfix active" href="#/PF/charts/patients/4d0def50-7ea2-487a-ad8e-8d0d642d2627" data-tracking="JOHNATHAN SWIFT">
                                    <div class="menu-icon"></div>
                                    <div class="menu-label">Robert A Robert</div>
                                    <span class="nav-item icon-go-away-small" data-ember-action="5747"></span>
                                    <div class="arrow-up"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="charts outlet">
                        <div id="ember23008" class="ember-view patient-header-component">
                            <div class="patient-photo" data-ember-action="23054">
                                <img src="//static.practicefusion.com/apps/ehr/assets/images/default_profile.png">
                            </div>
                            <div class="patient-name-column patient-info-column with-right-border">
                                <span class="patient-name">Robert A Robert</span>
                            </div>
                            <div class="flex-grow patient-details-container">
                                <div class="patient-details">
                                    <div class="flex-row">
                                        <div class="patient-info-column with-right-border flex-no-shrink">
                                            <span class="bold">PRN:</span>
                                            <span>
                                            RR257783
                                            </span>
                                        </div>
                                        <div class="patient-info-column with-right-border flex-no-shrink">44 yrs M</div>
                                        <div class="patient-info-column with-right-border component-add-email flex-shrink">
                                            <div id="ember23060" class="ember-view patient-email-popover">
                                                <div class="patient-ribbon-email" title="RobertALong@mailinator.com">RobertALong@mailinator.com</div>
                                                <div id="ember23067" class="ember-view popover popover-modal bottom">
                                                    <div class="arrow"></div>
                                                    <div class="user-email">
                                                        <label class="field-label">Patient Email</label>
                                                        <input id="ember23071" class="ember-view ember-text-field form-control" autocomplete="off" type="text" placeholder="example@email.com">
                                                        <div data-ember-action="23072">
                                                            <div id="ember23073" class="ember-view pf-input--checkbox-component"><input id="ember23076" class="ember-view ember-checkbox pf-input--checkbox" type="checkbox">
                                                                <label class="cb-smaller pf-input pf-input--checkbox-label " for="ember23076">
                                                                Patient has no email address
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <button class="btn" type="button" data-ember-action="23074">Cancel</button>
                                                        <button class="btn btn-primary" type="button" data-ember-action="23075">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="patient-info-column with-right-border visible-xl flex-no-shrink">
                                            <span class="bold">DOB:</span>
                                            <span>06/26/1971</span>
                                        </div>
                                        <div id="ember23085" class="ember-view patient-info-column with-right-border visible-xl flex-no-shrink"><span class="bold">M:</span>
                                            <span>(907) 581-1096</span>
                                        </div>
                                        <div class="patient-info-column ellipsis-column flex-no-shrink"><i class="icon-ellipsis" data-ember-action="23062"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="left-nav">
                            <ul id="ember23091" class="ember-view menu-rollup nav nav-tabs">
                                <li id="ember25083" class="ember-view">
                                    <a id="ember25089" class="ember-view clearfix active" href="#/PF/charts/patients/03697ebe-13fa-4cc4-aee3-313b5e9a93d2/summary" data-tracking="Summary">
                                        <div class="menu-icon"></div>
                                        <div class="menu-label">
                                            Summary
                                        </div>
                                        <div class="arrow-up"></div>
                                    </a>
                                </li>
                                <li id="ember25098" class="ember-view">
                                    <a id="ember25104" class="ember-view clearfix" href="#/PF/charts/patients/03697ebe-13fa-4cc4-aee3-313b5e9a93d2/timeline" data-tracking="Timeline">
                                        <div class="menu-icon"></div>
                                        <div class="menu-label">
                                            Timeline
                                        </div>
                                        <div class="arrow-up"></div>
                                    </a>
                                </li>
                                <li id="ember25113" class="ember-view">
                                    <a id="ember25119" class="ember-view clearfix" href="#/PF/charts/patients/03697ebe-13fa-4cc4-aee3-313b5e9a93d2/profile" data-tracking="Profile">
                                        <div class="menu-icon"></div>
                                        <div class="menu-label">
                                            Profile
                                        </div>
                                        <div class="arrow-up"></div>
                                    </a>
                                </li>
                                <li class="tab-rollup-more" style="display: none;">
                                    <div class="btn-group help-toggle">
                                        <button class="nav-item icon-ellipsis btn" data-toggle="dropdown" href="#"></button>
                                        <ul class="dropdown-menu">
                                            <hr>
                                            <li>
                                                <a data-ember-action="25128">
                                                    <div class="menu-label">Close all</div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                            <div id="ember23157" class="ember-view persistent-navigation">
                                <div id="ember23165" class="ember-view patient-previews">
                                    <div class="icon-history" data-ember-action="23194"></div>
                                    <div id="ember23198" class="ember-view popover popover-modal bottom">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            <div class="spinner-overlay" style="display: none;"></div>
                                            <div id="ember23206" class="ember-view preview-list-pane" style="display:none;">
                                                <div class="spinner-overlay" style="display: none;"></div>
                                                <div class="filter-bar">
                                                    <div id="ember23215" class="ember-view ember-select enabled" data-element="preview-type">
                                                        <div data-ember-action="23218" class="ember-select-container dropdown-toggle  is-shorter">
                                                            <a tabindex="0" class="ember-select-choice btn btn-default   is-shorter ">
                                                            <span id="ember23786" class="ember-view ember-select-result-item" data-element="preview-type-">        <a>Show all types</a>
                                                            </span>
                                                            <i class="icon-caret"></i>
                                                            </a>
                                                        </div>
                                                        <div class="dropdown-menu is-shorter">
                                                            <ul id="ember23227" class="ember-view ember-select-results">
                                                                <li id="ember23230" class="ember-view ember-select-result-item" data-element="preview-type-0">        <a>Show all types</a>
                                                                </li>
                                                                <li id="ember23231" class="ember-view ember-select-result-item" data-element="preview-type-1">        <a>Encounters</a>
                                                                </li>
                                                                <li id="ember23232" class="ember-view ember-select-result-item" data-element="preview-type-2">        <a>Lab orders</a>
                                                                </li>
                                                                <li id="ember23233" class="ember-view ember-select-result-item" data-element="preview-type-3">        <a>Lab results</a>
                                                                </li>
                                                                <li id="ember23234" class="ember-view ember-select-result-item" data-element="preview-type-4">        <a>Imaging orders</a>
                                                                </li>
                                                                <li id="ember23235" class="ember-view ember-select-result-item" data-element="preview-type-5">        <a>Imaging results</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="previews"></div>
                                            </div>
                                            <div id="ember23213" class="ember-view preview-pane">
                                                <div class="spinner-overlay" style="display: none;"></div>
                                                <header>
                                                    <div class="pull-right">
                                                        <a class="icon-go-away" data-dismiss="modal" data-element="preview-close" aria-hidden="true" data-ember-action="23258"></a>
                                                    </div>
                                                    <div class="title" data-element="preview-header-title"></div>
                                                </header>
                                                <div id="ember23265" class="ember-view preview-pane-container">
                                                    <div id="ember23779" class="ember-view"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <footer>
                                            <button class="btn" data-ember-action="23214">Close</button>
                                        </footer>
                                    </div>
                                </div>
                                <div id="ember23172" class="ember-view care-plans-component"></div>
                                <div id="ember23192" class="ember-view patient-alerts-component">
                                    <a class="patient-alert-icon" data-ember-action="23269">
                                        <div class="alert-icon icon-flag"></div>
                                    </a>
                                    <div id="ember23270" class="ember-view popover popover-modal bottom">
                                        <div class="arrow"></div>
                                        <header class="patient-alerts-header">
                                            <div class="row">
                                                <div class="col-xs-6 pull-left">
                                                    Patient alerts
                                                    (0)
                                                </div>
                                                <div class="col-xs-6">
                                                    <a href="#" class="alert-tool icon-go-away" data-ember-action="23273"></a>
                                                    <a id="ember23274" class="ember-view alert-tool icon-wrench" href="#/PF/new.settings/cds"></a>
                                                    <a href="#" data-ember-action="23275" class="alert-tool icon-refresh "></a>
                                                </div>
                                            </div>
                                        </header>
                                        <div class="patient-alerts-component-status">
                                        </div>
                                        <div class="patient-alerts-body">
                                            <div class="spinner-overlay" style="display: none;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="ember23289" class="ember-view btn-group normal-whitespace actions-dropdown">
                                <a class="btn actions-toggle" data-toggle="dropdown" href="#" data-element="actions-menu">
                                Actions
                                <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu pull-right" data-element="actions-menu-options">
                                    <li class="actions-separator">For this patient</li>
                                    <li>
                                        <a href="#" class="actions-flex" data-ember-action="23296">
                                            <div>Add imaging order</div>
                                            <div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="actions-flex" data-ember-action="23302">
                                            <div>Add lab order</div>
                                            <div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="actions-flex" data-ember-action="23308">
                                            <div>Add referral</div>
                                            <div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="actions-flex" data-ember-action="23314">
                                            <div>Copy link to patient</div>
                                            <div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="actions-flex" data-ember-action="23320">
                                            <div>Create clinical document</div>
                                            <div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="actions-flex" data-ember-action="23326">
                                            <div>Enroll in PHR</div>
                                            <div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="actions-flex" data-ember-action="23332">
                                            <div>Enter imaging results</div>
                                            <div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="actions-flex" data-ember-action="23338">
                                            <div>Enter lab results</div>
                                            <div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="actions-flex" data-ember-action="23344">
                                            <div>Print patient chart</div>
                                            <div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="actions-flex" data-ember-action="23350">
                                            <div>Record patient reminder</div>
                                            <div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="actions-flex" data-ember-action="23356">
                                            <div>Refresh patient chart</div>
                                            <div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="actions-flex" data-ember-action="23362">
                                            <div>View access history</div>
                                            <div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="actions-flex" data-ember-action="23368">
                                            <div>Send message</div>
                                            <div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="actions-flex" data-ember-action="23374">
                                            <div>Create task</div>
                                            <div>
                                                <span class="key-icon">N</span>+
                                                <span class="key-icon">T</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="actions-flex" data-ember-action="23382">
                                            <div>View clinical documents</div>
                                            <div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="actions-flex" data-ember-action="23388">
                                            <div>View imaging orders</div>
                                            <div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="actions-flex" data-ember-action="23394">
                                            <div>View lab orders</div>
                                            <div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="actions-flex" data-ember-action="23400">
                                            <div>View recent activity</div>
                                            <div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="patient outlet">
                            <div class="content">
                                <div class="grid-display {{unless isGridOn 'hidden'}}">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <div class="inner">&nbsp;</div>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="inner">&nbsp;</div>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="inner">&nbsp;</div>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="inner">&nbsp;</div>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="inner">&nbsp;</div>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="inner">&nbsp;</div>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="inner">&nbsp;</div>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="inner">&nbsp;</div>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="inner">&nbsp;</div>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="inner">&nbsp;</div>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="inner">&nbsp;</div>
                                        </div>
                                        <div class="col-sm-1">
                                            <div class="inner">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                                {{draggable-dropzone
                                classNames="container main-dropzone"
                                model=model
                                }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ad-container">
                <div class="ad-content">
                    <div id="ember5503" class="ember-view">
                        <img class="visible-xl" src="//placehold.it/320x600"/>
                        <img class="visible-lg" src="//placehold.it/160x600"/>
                        <img class="visible-sm visible-md" src="//placehold.it/728x90"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
