// @import 'bootstrap.less';
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    font-family: 'Open Sans';
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    background: @gray-light;
}
@default-margin: 20px;
@gray-light: #e1e1e1;
@gray-medium: #666;
@green: #2ecc71;
@white: #fff;
@black: #111;
@border-thickness: 2px;
.draggable-item[draggable=true] {
    display: inline-block;
    min-height: @default-margin;
    padding: @default-margin / 5;
    margin: @default-margin / 5;
    -moz-user-select: none;
    -khtml-user-drag: element;
    cursor: move;
    p {
        color: @gray-light;
        text-align: center;
    }
    &.hover {
        background-color: @gray-medium;
    }
}

.navigation.application {
    -webkit-transition: none !important;
    transition: none !important;
}

.is-build-state {
    .draggable-dropzone, .component.row {
        display: block;
        border: @border-thickness dashed @gray-medium;
        // padding: @default-margin / 2;
        // width: 100%;
        min-height: @default-margin * 2.5;
        // color: @gray-medium;
        &.activated {
            border-color: @green;
        }
        &.deactivated {
            border-color: @gray-light;
        }
        &.main-dropzone {
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            height: calc(~"100% - 130px");
        }
    }
    .component {
        display: table;
        &>.utility-overlay {
            display: none;
        }
        &.hover {
            border: @border-thickness solid #14a4ec;
            &>.utility-overlay {
                display: block;
            }
        }
        &.active {
            border: @border-thickness solid #14a4ec;
        }
    }

    .ad-aware {
        padding-right: 0 !important;
    }

    .ad-container {
        display: none !important;
    }
}
.navbar-default .navbar-brand {
  color: @gray-light;
}
.ember-application > .ember-view {
    height: 100%;
}
.component {
    position: relative;
    &.row {
        margin-bottom: 10px;
    }
    .utility-overlay {
            display: none;
        }
}
.container {
    width: 100%;
}
.main.container {
    height: calc(~"100% - 0px");
    padding: 0;
    &>.row {
        height: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    iframe {
        width: 100%;
        height: calc(~"100% - 52px");
        display:block;
        margin: 0 auto;
        max-width: 9999px;
        -webkit-box-shadow: 0px 1px 10px @gray-medium;
                box-shadow: 0px 1px 10px @gray-medium;
        -webkit-transition: max-width 500ms;
                transition: max-width 500ms;
        -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);

        &.max-width-768 {
            max-width: 768px !important;
        }

        &.max-width-801 {
            max-width: 801px !important;
        }

        &.max-width-1024 {
            max-width: 1024px !important;
        }

        &.max-width-1200 {
            max-width: 1200px !important;
        }

        &.max-width-1600 {
            max-width: 1600px !important;
        }
    }
}
.sidebar {
    height: 100%;
    padding: 0;
    h4 {
        background-image: -webkit-linear-gradient(90deg, #2c2a29 0%, #32302f 100%);
        border-bottom: 1px solid #666;
        // border-top: 1px solid #666;
        color: @gray-light;
        margin: 0;
        padding: 6px 15px;
    }
    .sidepane {
        background-color: #454342;
        // display: flex;
        // flex-direction: column;
        height: calc(~"100% - 30px");
        overflow-y: auto;
        padding: 10px 15px;
    }
}

.visible-xl {
  display: none!important;
}
@media (min-width: 1600px) {
    .visible-xs, .visible-sm, .visible-md, .visible-lg {
      display: none!important;
    }
    .visible-xl {
      display: block!important;
    }
}
@import 'main-navigation.less';
@import 'tool-box.less';
@import 'work-space.less';
@import 'property-inspector.less';
@import 'components.less';
@import 'utility-overlay.less';
