.navbar {
    background-image: -webkit-linear-gradient(90deg, #2c2a29 0%, #32302f 100%);
    border: 0;
    border-bottom: 1px solid #111010;
    border-radius: 0;
    border-top: 1px solid #666666;
    margin-bottom: 0;

    .navbar-right {
    	padding: 10px;
    	background: none;

        li {
            margin-left: 10px;
        }
    }

    .has-switch-small .switch-on {
        color: #fff;
    }
}