<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PfPageBuilder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for 'head'}}

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600">
    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="//static.practicefusion.com/apps/ehr/assets/css/main.css">
    <link rel="stylesheet" href="assets/pf-page-builder.css">

    {{content-for 'head-footer'}}
  </head>
  <body>
    {{content-for 'body'}}

    <script src="assets/vendor.js"></script>
    <script src="assets/pf-page-builder.js"></script>

    {{content-for 'body-footer'}}
  </body>
</html>
