<div class="main container">
	<div class="row">
		{{#if isEmbeddedInIframe}}
			{{tool-box isBuildState=isBuildState}}
			{{work-space isBuildState=isBuildState isGridOn=isGridOn model=model}}
			{{property-inspector isBuildState=isBuildState componentToEdit=componentToEdit}}
		{{else}}
			<iframe id="pf-page-builder-iframe" {{bind-attr src="iframeSrcUrl"}} frameBorder="0"></iframe>
		{{/if}}
	</div>
</div>